$green: #03cf5d;
$white: #fff;
$silver: #999;
$silverlight: #DADADA;
$red: #ff1414;
$silverdark: #666;
$blackdark:#333;
$blackalpha10: rgba(#000, 0.1);
$blue: rgb(62, 59, 245);

$default:$white;
$primary: $green;
$secondary: $silverlight;
$text: $blackdark;
$alpha: $blackalpha10;
$warning: $red;
$outline: $blue;